<?xml version="1.0"?>
<!-- $Id$      -->

<config>

<!-- 
	<db fsid="0" url="jdbc:oracle:thin:@localhost:1521:XE" drv="oracle.jdbc.driver.OracleDriver" user="himera" pass="himera" dialect="Oracle" />
 -->
	<db fsid="0" url="jdbc:postgresql://localhost/chimera?prepareThreshold=3" drv="org.postgresql.Driver" user="postgres" pass="" dialect="PgSQL" />

<!-- in-memory hsqldb 
 <db fsid="0" url="jdbc:hsqldb:mem:chimeramem" drv="org.hsqldb.jdbcDriver" user="sa" pass="" />
-->
	
	<nfs>
		<port>2049</port>
		<logLevel>0</logLevel>
		<logFile>/tmp/himera.log</logFile>
	</nfs>
	
</config>
